experiments/
eval_results/
temp/
.idea/
.ipynb_checkpoints/
.DS_Store
src/question_answering/question_answering_contract.py
src/text_similarity/wiki_unigrams.bin
*__pycache__
*.xlsx
*.csv
_summary.DS_Store
.Rhistory
bertabs/backup_outputs/
bertabs/data/
bertabs/gold/
bertabs/evaluation/
bertabs/outputs/
bertabs/train_documents.txt
bertabs/train_labels.txt
venv/